*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    background-color: lightgreen;
    height: min-content;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.7fr 5fr;
    grid-template-rows: 0.7fr repeat(4, 1fr);
    grid-template-areas:"s h"
                        "s m"
                        "s m"
                        "s m"
                        "s m";
                    }
.sidebar{
    background-color:#5b21b6;
    /* grid-area: 1/1/-1/2; */
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 1fr 1.3fr;
    gap: 10px;
}
.sidebar>*{
    margin-left: 10%;
}
.dashboard{
    grid-area: 1/1/2/2;
    display: flex;
    /* grid-auto-flow: column; */
    grid-template-columns: 0.5fr 1fr;
    /* background-color: lightgray; */
    align-items: center;
    justify-content: start;
    justify-items: start;
    margin-right: 10px;
}

.navBar{
    grid-area: 2/1/3/2;
    /* background-color: lightsalmon; */
    display: grid;
    /* align-items: center; */
    justify-content: start  ;
}
.navBar>div{
    display: grid   ;
    grid-auto-flow: column ;
    /* grid-template-columns: repeat(6, 1fr); */
    justify-content: start;
    margin: 5% 0% 5% 0%;
    align-items: center;
    /* justify-content: spa; */
    gap: 10px;

}
.branding{
    grid-area: 3/1/-1/2;
    /* background-color: lightcoral; */
    display: grid;

    align-items: center;
    align-content: start;
}
.branding>div{
    display: grid   ;
    grid-auto-flow: column  ;
    justify-content:start;
    /* align-items: baseline; */
    /* align-self: baseline; */
    /* align-content: start    ; */
    gap: 10px;
    margin: 5% 0% 5% 0%;

}

header{
    background-color: rgb(112, 48, 138);
    /* grid-area: h; */
    /* border-radius: 10px; */
    display: grid;
    gap: 10px;
    /* flex-direction: row; */
    /* justify-content: center; */
}
.sBar{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    align-items: center;
    /* justify-content: center; */
}
.search{
display: flex;
    align-items: center;
    gap: 10px;
    display: flex;
    flex: 0.8;
    margin: 5px;
}
.login{
display: flex;
gap: 10px;
margin: 5px;
}
.infoBar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}
.greetings{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    /* justify-items: start; */
    justify-content: start;
}
.greetings>img{
    grid-area: 1/1/3/2;
    display: grid;
    justify-self: center;
}
.greetings>p{
    grid-area: 1/2/2/-1;
    display: grid;
    align-self: end;
}
.greetings>h3{
    grid-area: 2/2/3/-1;
    display: grid;
    align-self: start;
}
.actions{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
    /* justify-items: center; */
    align-items: end;
}
button{
    height: 20px;
    width: 80px;
    margin: 10px;
    border-radius: 1rem;
    background-color: lightgreen;
    border: white 1px solid;
}
input{
    height: 1.5rem;
    border-radius: 2rem;
}
main{
    background-color: #0f172a;
    /* grid-area: 2/2/-1/-1; */
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 0.2fr repeat(3, 1fr);
}
.yourProjects{
    grid-area: 1/1/-1/2;
    /* background-color: grey; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: auto;
    gap: 10px;
    margin: 2rem 0.5rem 0.5rem 1rem;
 
}
.project{
    background-color: #5c3188;
    border: 1px grey;
    display: grid;
    border-radius: 10px;

    /* justify-content: center; */
    /* align-items: center; */
}
.paras{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    /* align-content: start; */
    /* align-items: start; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.paras>p{
    color: white;
    display: grid;
    /* justify-content: center; */
    /* justify-items: center; */
    /* justify-self: center; */
    /* align-content: start; */
    /* align-items: start; */
    align-self: center;
}
.paras>p:first-child{
    font-weight: 700;
    justify-self: center;
}
.images{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: end;
    justify-self: end;
    justify-content: center;
    /* justify-self: start; */
    margin: 0px 15px 10px 0px;
}
.images>img{
    width: 20px;
    height: 20px;
}
.announcements{
grid-area: 1/2/-1/-1;
background-color: #0f172a;
margin: 2rem 0.5rem 0.5rem 1rem;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, min-content);
/* gap: 10px; */
}
.news{
    grid-area:1/1/2/-1 ;
    background-color: rgb(29, 111, 166);
    margin: 1rem;
    border-radius: 10px;

}
.trending{
    grid-area: 3/1/4/-1;
    background-color: rgb(11, 108, 135);
    display: grid;
    /* grid-template-columns: 0.5fr 1fr; */
    grid-template-rows: repeat(4,1fr);
    /* align-content: center; */
    /* align-items: center; */
    margin: 1rem;
    border-radius: 10px;
}
.trending>div{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-items: center;
}
.trending>p:first-child{
    font-weight: 700;
}
/* .trending>div:first-child{
    display: grid;
    grid-area: 1/1/2/-1;
} */
main >p:first-of-type {
    grid-area: 1/1/2/-1;
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: grid;
    color: rgb(255, 254, 254);
    font-size: 1rem;
    font-weight: 700;
}
main >p:nth-of-type(2) {
    grid-area: 1/2/2/-1;
    margin-left: 1rem;
    display: grid;
    justify-items: center;
    align-self: start;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
p,h3{
    margin: 15px;
    color: rgb(253, 250, 250);
}

img{
    width: 2rem;
    height: 2rem;
}
.news+h3{
    display: grid;
    justify-self: center;
    align-content: end;
}