*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr repeat(4, 1fr);
    grid-template-areas:"s h"
                        "s m"
                        "s m"
                        "s m"
                        "s m";
                    }
.sidebar{
    background-color: lightskyblue;
    /* grid-area: 1/1/-1/2; */
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 1fr 1.3fr;
}
.dashboard{
    grid-area: 1/1/2/2;
    display: grid;
    background-color: lightgray;
    justify-items: start;
    align-items: center;
    grid-auto-flow: column;
}
.navBar{
    grid-area: 2/1/3/2;
    background-color: lightsalmon;
    display: grid;
    /* align-items: center; */
    justify-content: start  ;
}
.navBar>div{
    display: grid   ;
    grid-auto-flow: column  ;
    /* justify-content: start; */
    gap: 10px;
}
.branding{
    grid-area: 3/1/-1/2;
    background-color: lightcoral;
    display: grid;
}
.branding>div{
    display: grid   ;
    grid-auto-flow: column  ;
    justify-content:start;
    /* align-items: baseline; */
    /* align-self: baseline; */
    /* align-content: start    ; */
    gap: 10px;
}

header{
    background-color: lightpink;
    grid-area: h;
    display: grid;
    gap: 10px;
    /* flex-direction: row; */
    /* justify-content: center; */
}
.sBar{
    display: flex;
    justify-content: space-between;
    gap: 20px;    
}
.search{
display: flex;
    gap: 10px;
    display: flex;
    flex: 0.8;
    margin: 5px;
}
.login{
display: flex;
gap: 10px;
margin: 5px;
}
.infoBar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}
.greetings{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    justify-content: start;
}
.greetings>img{
    grid-area: 1/1/3/2;
}
.greetings>p{
    grid-area: 1/2/2/-1;
}
h3{
    grid-area: 2/2/3/-1;
}
.actions{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
    /* justify-items: center; */
    align-items: end;
}
button{
    height: 20px;
    width: 80px;
    margin: 10px;
}
input{
    /* width: 1%; */
    height: 50%;
}
main{
    background-color: blueviolet;
    /* grid-area: 2/2/-1/-1; */
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: repeat(3, 1fr);
}
.yourProjects{
    grid-area: 1/1/-1/2;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.project{
    grid-area: 1/1/2/2;
    background-color: green;
}
.announcements{
    grid-area: 1/2/-1/-1;
background-color: lightcyan;
}